
$base: #98dfdf;
$base-bright: #009eff;
$black: #010101;
// $bg: #102D82;
$bg: #30323a;
$white: #f5f5f5;
$yellow: #ffe073;
$red: red;
$green: #5bff00;


// Behaviour

$selection: #ff0065;
$danger: #ff5d5d;
