@import url(http://fonts.googleapis.com/css?family=Inconsolata|VT323);

@import 'settings';

* {
  font-family: $font !important;
}

body {
  font-size: 1.2rem;
  color: $base;
  text-shadow: 0 0 5px $base-bright;
  word-wrap: break-word;
  background-color: $bg;
}

.machine {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.menu {
  margin: 10px;

  order: -1;
}

.navigation, .controls {
  flex: 0 0 12em;
}

.header,
.footer {
  flex: none; /* 2 */
}


.ok {
  color: $green;
}

hr {
  border: 0;
  border-bottom: 1px dotted $base;
}

// UI COMPONENTS
/* UI-Preload */
@import 'UI/frame';
/* UI-Preload */
@import 'UI/preload';
/* UI-CRT */
@import 'UI/crt';
/* UI-Screen */
@import 'UI/screen';
/* UI-Text */
@import 'UI/text';
/* UI-Cursor */
@import 'UI/cursor';
/* UI-Controls */
@import 'UI/controls';

.blink {
  -webkit-animation: blink .2s infinite;
     -moz-animation: blink .2s infinite;
          animation: blink .2s infinite;
}
/*BROWSER CONFIG*/
@-ms-viewport {
  width: device-width;
}

::-moz-selection {
  color: $white;
  background: $selection;
}

::selection {
  color: $white;
  background: $selection;
}
