@import url(http://fonts.googleapis.com/css?family=Inconsolata|VT323);

@import 'colors';

body {
  font-family: 'Inconsolata', Monaco, Courier, monospace;
  font-size: 1.2rem;
  color: $base;
  text-shadow: 0 0 5px $base-bright;
  word-wrap: break-word;
  background-color: $bg;
  /*background-image: url(images/shadow.jpg);*/
}

#frame {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

hr {
  border: 0;
  border-bottom: 1px dotted $base;
}

// UI COMPONENTS
@import 'UI/screen';
@import 'UI/text';
@import 'UI/cursor';
@import 'UI/controls';


/*BROWSER CONFIG*/
@-ms-viewport {
  width: device-width;
}

::-moz-selection {
  color: $white;
  background: $selection;
}

::selection {
  color: $white;
  background: $selection;
}
