@import "../colors";

.navbar-default {
  background-image: url("images/swirl_@2X.png");
  background-color: @white;
  border-color: @white;
}

.nav.navbar-nav > li > a {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  color: @pale-purple;
}

.navbar-default .navbar-brand {
  color: @dark-purple;
}

.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 160px;
  text-align: center;
  background-color: transparent;
  font-family: 'Sacramento', cursive;
  font-size: 25px;
}
.navbar>.container .navbar-brand-centered, .navbar>.container-fluid .navbar-brand-centered {
  margin-left: -80px;
}
