@import "../colors";

.navbar-default {
  /* background-image: url("images/swirl_@2X.png"); */
  background-color: @ghost-white;
  border-color: transparent;
}

.nav.navbar-nav > li > a {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  color: @type-over-white;

  &:hover {
    color: @cyan;
  }
}


.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 160px;
  text-align: center;
  background-color: transparent;
  font-family: 'Sacramento', cursive;
  font-size: 25px;
  cursor: pointer;

  a {
    color: @brand-over-white;
    text-decoration: none;
    &:hover {
      color: @type-over-white;
    }
  }
}
.navbar>.container .navbar-brand-centered, .navbar>.container-fluid .navbar-brand-centered {
  margin-left: -80px;
}
