<aside class="controls">
  <button class="button" name="button">Init</button>
  <button class="button" name="button">About</button>
  <button class="button" name="button">CV</button>
  <button class="button" name="button">Twitter</button>
  <button class="button" name="button">Github</button>
  <button class="button" name="button">Turn OFF</button>
</aside>
