<aside class="controls on">

  <a href="#" id="switch" class="button switch-on">Screen</a>

  <hr>

  <a class="button" target="_blank" href="http://hoverboard.io/juanmnl">CV</a>
  <a class="button" target="_blank" href="https://twitter.com/_juanmnl">Twitter</a>
  <a class="button" target="_blank" href="https://github.com/juanmnl">Github</a>
  <a class="button" target="_top" href="mailto:juanmnl@me.com?subject=Hello">Mail me</a>

</aside>
