<aside class="controls">
  <a class="button" target="_blank" href="http://hoverboard.io/juanmnl">CV</a>
  <a class="button" target="_blank" href="https://twitter.com/_juanmnl">Twitter</a>
  <a class="button" target="_blank" href="https://github.com/juanmnl">Github</a>
</aside>
