<div class="controls">
  <a target="_blank" href="http://hoverboard.io/juanmnl">CV</a>
  <a target="_blank" href="https://www.twitter.com/_juanmnl">@twitter</a>
  <a target="_blank" href="https://github.com/juanmnl">Github</a>
</div>
