<p id="loading">
  Loading Artificial intell1g3nc$%3rr0r
</p>

<p id="error">
  <span class="danger">
    ++ ERR - 001313 - exception found(leveln13) ++ <br>
    ++ SYSTEM CORRUPTED ++ <br>
    ----------------------
  </span>
</p>

<p id="serverReady"><small><span class="ok">SYSTEM RUNNING...</span></small></p>

<small class="thinking">&gt;<span class="blink">_</span></small>
