<template name="home">

  <div class="jumbotron">
    <div class="text-center">
      <h1 class="written">I build web stuff!</h1>
      <p class="lead">
        Love designing products and building prototypes (MVPs) focusing on User Interfaces and UX.<br>
        I work as a freelancer — independently and with a network of trusted designers and developers. <br>
        Currently available for full-time work*. <br>
        <i class="asterisk">*(depending on project and availability)</i>
      </p>
    </div>
  </div>

</template>
