

/* COLORS */
$base: #dccbff;

$base-bright: #009eff;
$black: #010101;
$bg: #403474;
// $bg: #313131;
// $bg: #131313;
// $bg: #30323a;
$white: #f5f5f5;
$yellow: #ffe073;
$red: rgb(179, 5, 57);
$green: #00e632;
$green-bright: #00ec72;
// $base: $green;

$mute: #000;

/* Typography */
$font: 'Inconsolata', Monaco, Courier, monospace;


// Behaviour

$selection: #ff0065;
$danger: #ff5d5d;


$ease-out-quint: cubic-bezier(.230, 1.000, .320, 1.000);
$ease-in-quint: cubic-bezier(.755, .050, .855, .060);
$screen-background: #121010;
