@import './../../node_modules/normalize.css/normalize.css';
@import url(http://fonts.googleapis.com/css?family=Inconsolata|Sacramento);

@import 'settings';

@import './layout/Navbar';

* {
  font-family: $font !important;
}

body {
  margin: 0;
  font-size: 1.2em;
  color: $base;
  text-shadow: 0 0 2px $base-bright;
  word-wrap: break-word;
  background-color: $bg;
}

.machine {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
}


.footer {
  padding: .6em;
  font-family: "Sacramento", cursive !important;
  font-size: 1.2em;
  color: $bg;
  text-align: center;
  text-shadow: none;
  background-color: $base;

  flex: none;
}

hr {
  border: 0;
  border-bottom: 1px dotted $base;
}

// UI COMPONENTS
/* UI-Controls */
@import 'UI/controls';
/* UI-Preload */
@import 'UI/frame';
/* UI-Preload */
@import 'UI/preload';
/* UI-CRT */
@import 'UI/crt';
/* UI-Screen */
@import 'UI/screen';
/* UI-Text */
@import 'UI/text';
/* UI-Cursor */
@import 'UI/cursor';

.blink {
  -webkit-animation: blink .2s infinite;
     -moz-animation: blink .2s infinite;
          animation: blink .2s infinite;
}

.interlace {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url(./../images/interlace.png) top left repeat, rgba(255, 255, 255, .1);
  opacity: .4;
}

/*BROWSER CONFIG*/
@-ms-viewport {
  width: device-width;
}

::-moz-selection {
  color: $white;
  background: $selection;
}

::selection {
  color: $white;
  background: $selection;
}
