<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<title>W3lc0m3 t0 m¥ L@b</title>

<meta name="author" content="Juanmnl Cornejo">
<meta name="description" content="This is a WORK-IN-PROGRESS for my UI research and a homage to CLI interfaces :) enjoy and don't forget to say hi! ">

<link rel="stylesheet" href="public/vendor/normalize.min.css">
<link rel="stylesheet" href="styles/main.css">
