@import '../settings';

// UI CONTROLS
.controls {
  margin: 10px;

  flex: 0 0 6em;

  a.button, button.button {
    display: block;
    padding-top: 2px;
    margin-bottom: 5px;
    color: $base;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px $base-bright;
    vertical-align: baseline;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid $base;

    &:active {
      color: $black;
      background-color: $white;
    }
  }
}
