@import '../colors';

// UI CONTROLS

.controls {
  display: inline-block;
  margin: 10px;

  a {
    padding: 10px;
    color: $base;
    text-decoration: none;
    text-shadow: 0 0 4px $base-bright;
    background-color: transparent;
    border: 2px solid $base;

    &:active {
      color: $black;
      background-color: $white;
    }
  }
}
