#preload {
  padding-top: 10%;
  margin: 10px;
  font-size: 1.3rem;
  text-align: center;
  opacity: 1;
  -webkit-animation: blink 1s infinite;
     -moz-animation: blink 1s infinite;
          animation: blink 1s infinite;
}
