#preload {
  padding-top: 25%;
  margin: 10px;
  font-size: 1.3rem;
  text-align: center;
  opacity: 1;
  animation: blink 1s infinite;
  // animation: blink .1s steps(2, start) infinite, skip 7s linear infinite, flicker .1s steps(2, start) infinite;
}
