@import '../colors';

// UI SCREEN
#screen {
  min-height: 75%;
  padding: 3px 10px;
  margin: 10px;
  border: 2px solid $base;
}


.interlace {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url(../images/interlace.png) top left repeat, rgba(255, 255, 255, .1);
  opacity: .3;
}
