@import '../settings';

// TERMINAL TEXT
.text {
  // display: inline;
}

.center {
  text-align: center;
}

.danger {
  color: $danger;
  text-shadow: 0 0 4px $red;
}

.warning {
  color: $yellow;
  text-shadow: 0 0 1px $yellow;
}

.ok {
  color: $green;
  text-shadow: 0 0 1px $green-bright;
}

.separator {
  width: 100%;
  margin: 10px auto;
  font-size: x-small;
  text-align: center;

  &::before {
    content: "--";
  }

  &::after {
    content: "--";
  }
}
