@import '../settings';

// TERMINAL TEXT
.text {
  display: inline;
  /*text-shadow: 0px 0px 1px $white;*/
}

.center {
  text-align: center;
}

.danger {
  color: $danger;
  text-shadow: 0 0 5px $red;
}

.warning {
  color: $yellow;
  text-shadow: 0 0 1px $yellow;
}
