@import '../_colors';

// TERMINAL TEXT
.text {
  display: inline-block;
  /*text-shadow: 0px 0px 1px $white;*/
}

.danger {
  color: $red;
  text-shadow: 0px 0px 5px $red;
}

.warning {
  color: $yellow;
  text-shadow: 0px 0px 2px $yellow;
}
